*{margin: 0; padding: 0;}
body{
    position: relative;
}
#box{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    text-align: center;
    background: linear-gradient(#714ab9 0%, #dba136 100%);

    /*animation-name 속성을 사용해 태그를 키프레임에 연결*/
    animation-name: rint;
    animation-duration: 2s;
    animation-timing-function: linear;

    /*animation-iteration-count - 반복 횟수*/
    animation-iteration-count: infinite;

    /*animation-direction 속성 - 반복형태 지정*/
    animation-direction: normal;
    
}

#box:hover{
    /*animation-play-state 속성 - 애니메이션을 중지하고 재생할때 사용하는 속성*/
    animation-play-state: paused;
}

#box > h1{
    line-height: 200px;
}



/*키프레임 - CSS에서 애니메이션을 지정하는 형식*/
@keyframes rint{
    from{ /*0%*/
        left: 0;
        transform: rotate(0deg);
    }

    50%{
        left: 250px;
    }

    to{ /*100%*/
        left: 500px;
        transform: rotate(360deg);
    }
}